<%= form_with(model: friend) do |form|%>
  <% if friend.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(friend.errors.count, "error") %> prohibited this friend from being saved:</h2>

      <ul>
        <% friend.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field form-group">
    <%= form.text_field :firstName, class:"form-control", placeholder:"Your first name" %>
  </div>
  <br/>

  <div class="field form-group">
    <%= form.text_field :lastName , class:"form-control", placeholder:"Your last name"%>
  </div>
  <br/>

  <div class="field form-group">
    <%= form.text_field :email , class:"form-control", placeholder:"Your email"%>
  </div>
  <br/>

  <div class="field form-group">
    <%= form.text_field :phone , class:"form-control", placeholder:"Your phone number"%>
  </div>
  <br/>
  <div class="field form-group">
    <%= form.text_field :twitter , class:"form-control", placeholder:"Your twitter"%>
  </div>
  <br/>
  <div class="actions">
    <%= form.submit class:"btn btn-primary"%>
  </div>
<% end %>
